@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {



.dark {
 --main-bg: #141625;
--nav-bg: #373b53;
--text-access: #b6a3c1;
--text-paid: #33d69f;
--text-pending: #ff9117;
--text-draft: #e1eafd;
--btn-bg: #7c5dfa;
--card-bg: #1e2139;
--total-bg: #000000;
--items-bg: #252945;
--main-text:#ffffff;
}
body{
  background-color: var(--main-bg);
}
.light {
--main-bg: #ffffff;
--nav-bg: #373b53;
--text-access: #b6a3c1;
--text-paid: #33d69f;
--text-pending: #ff9117;
--text-draft: #e1eafd;
--btn-bg: #7c5dfa;
--card-bg: #f8f8fb;
--total-bg: #374151;
--items-bg: #f9fafe;
--main-text:#000000;
}




}